<section>
  <div class="page-header">
    <h1>Libraries</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="library in vm.libraries"
       ui-sref="libraries.view({ libraryId: library._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="library.created | date:'mediumDate'"></span>
        by
        <span ng-if="library.user" ng-bind="library.user.displayName"></span>
        <span ng-if="!library.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="library.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.libraries.$resolved && !vm.libraries.length">
    No Libraries yet, why don't you <a ui-sref="libraries.create">create one</a>?
  </div>
</section>
